.card {
    border-radius: unset;
    height: 100%;
    background-color: unset;
    border: unset;

    // Badge
    .badge {
        position: absolute;
        z-index: 1;
        right: 0;
    }

    .card-body {
        padding: 15px 0 0;
    }

    // Image
    .card-img-wrapper {
        overflow: hidden;
        width: 100%;
    }

    .card-img {
        @include transition();
        @include bg-image;
        @include shadow;
        width: 100%;
        height: 100%;
        aspect-ratio: 4/3;
        border-radius: unset;
    }
}

.card-button-wrapper a {
    text-decoration: none;

    &:hover,
    &:focus {
        .card-img {
            transform: scale(1.08);
        }
    }
}

.bg-primary,
.bg-secondary,
.bg-dark {

    .card-button-wrapper a,
    .card-body {
        color: $white;
    }
}