.odd-footer {
    padding: 30px 0;

    .navbar-nav {
        display: flex;
        height: 100%;
        justify-content: center;
    }

    #menu-footer-menu {
        @include media-breakpoint-down(md) {
            justify-content: center;
            margin-top: 30px;
        }
    }

    .col-md-10 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        @include media-breakpoint-up(md) {
            justify-content: flex-end;
            margin-top: 0;
        }
    }

    @include media-breakpoint-down(md) {
        .footer-sig {
            max-width: unset;
        }

        .menu {
            margin-top: 30px;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
        }
    }
}