body {
    padding-top: 61px;

    &.home {
        padding-top: 0;
    }

    &.scrolled,
    &.mobile-menu-open {
        header #menu-primary-menu a {
            color: $primary;
        }
    }
}