body.home {
    display: flex;
    justify-content: center;
    align-items: center;

    .home-container {
        width: 100%;
        max-width: 400px;
        padding: 50px 0;
    }

    // Image
    .home-image {
        width: 100%;
        margin-bottom: 30px;
    }

    .home-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;

        h2 {
            letter-spacing: unset;
        }
    }

    // Icons
    .icon-links {
        margin-top: 15px;
    }
}