.icon-links {
    display: flex;
    gap: 15px;

    a.il-link {
        text-decoration: none;

        span.il-icon {
            @include bg-image;
            @include transition;
            width: 20px;
            height: 20px;
        }

        &:hover,
        &:focus {
            span.il-icon {
                transform: scale(1.1);
            }
        }
    }
}

// Text link layout
.icon-text-links {
    ul {
        list-style-type: none;
        padding-inline-start: 0;
        margin-bottom: 0;
    }

    li {
        margin: 10px 0;
    }

    a {
        @include h6-font-style;
        color: $dark;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}